# --- Python & uv ---

.venv/
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
.pytest_cache/
.python-version

# --- Güvenlik (KRİTİK) ---

.env
.env.local
.env.*
secret_keys.txt

# --- Dağıtım ve Paketleme ---
# Derlenmiş dosyalar ve paketleme artıkları
dist/
build/
*.egg-info/
nosetests.xml
coverage.xml
*.cover
*.log

# --- İşletim Sistemi & IDE ---
# macOS
.DS_Store


.vscode/

